@keyframes nav-button-transition {
  from {background-color: #EEAF4A;}
  to {background-color: #FBC96C;}
}

@keyframes grocery-list-button-transition {
  from {background-color: #F9D2AB;}
  to {background-color: #FDB868;}
}