.grocery-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .grocery-list-header {
    margin-top: 162px;
    font-size: 32px;
  }

  .grocery-list-content {
    margin: 4em;
    flex-direction: column;
    align-self: flex-start;
    border: solid;
    border-width: 8px;
    border-color: #F5D7B6;
    border-radius: 20px;
    background-color: #F9D2AB;
    
    .grocery-list {
      margin: 2em;
      font-size: 28px;
      width: 37vw;
    }
  }
}