@import '../styles/animations.scss';

.home-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .welcome-container {
    margin: 3em;
    font-size: 40px;
  }

  .nav-item-container {
    display: flex;
    margin: 3em;
    padding: 2em;
    border: solid;
    border-color: #FBC96C;
    border-width: 8px;
    background-color: #EEAF4A;
    border-radius: 50px;
  
    .nav-item {
      margin: 2em;
      padding: 1em;
      border-radius: 20px;
      cursor: pointer;
  
      &:hover {
        animation-name: nav-button-transition;
        animation-duration: 0.3s;
        background-color: #FBC96C;
      }
    }
  }
}