@import '../styles/variables.scss';
@import '../styles/animations.scss';

.navbar {
  padding: 0.5em;
  background-color: #ffa500;
  z-index: 2;
  top: 0;
  left: 0;
  height: 90px;
  position: fixed;
  width: 100%;
  align-items: center;

  .nav-logo {
    float: left;
    width: 106px;
    height: 58px;
    margin-top: 0.5em;
  }

  .nav-text {
    font-size: 44px;
    margin: 0.25em;
    float: left;
    font-family: $font-family2;
  }

  .nav-slogan {
    font-size: 30px;
    padding-left: 32px;
    margin-top: 20px;
    float: left;
    font-family: $font-family2;
  }
  
  .nav-item-container {
    
    display: flex;
    justify-content: end;
    align-items: center;
    
    .nav-item {
      margin: 0.4em;
      padding: 0.6em;
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        animation-name: nav-button-transition;
        animation-duration: 0.3s;
        background-color: #FBC96C;
      }
    }

    .nav-search-bar {
      height: 42px;
      width: 450px;
      margin-right: 1.5em;
      border: none;
      background-color: #FBC96C;
      border-radius: 20px;
      padding-left: 1em;
    }

    .nav-search-button {
      width: 30px;
      height: 30px;
      margin-right: 2.5em;

      &:hover {
        color: darkslategray;
        cursor: pointer;
      }
    }
  }

  @media only screen and (max-width: 1210px) {
    .nav-slogan {
      visibility: hidden;
      font-size: 1px;
    }
  }
}