@import '../styles/variables.scss';

.navbar {
  padding: 0.5em;
  background-color: orange;
  z-index: 5;
  top: 0;
  left: 0;
  height: 90px;
  position: fixed;
  width: 100%;

  .logo {
    float: left;
    width: 106px;
    height: 58px;
    margin-top: 0.8em;
  }

  .nav-text {
    font-size: 44px;
    margin: 0.3em;
    float: left;
    font-family: $font-family2;
    // letter-spacing: 2px;
  }
  
  .nav-item-container {

    display: flex;
    justify-content: end;

    .nav-button {
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
  
      .nav-item {
        margin: 1em;
      }
    }
  }
  


}