.recipe-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .recipe-list-search {
    margin-top: 162px;
    display: flex;
    align-items: center;

    .recipe-list-search-bar {
      width: 500px;
      height: 60px;
      font-size: 24px;
      padding-left: 1em;
      border: none;
      border-radius: 20px;
      background-color: #E6C294;
    }
  
    .recipe-list-search-icon {
      padding-left: 0.5em;
      font-size: 28px;
      cursor: pointer;
    }
  }
  
  .recipe-list-header {
    justify-content: center;
    margin-top: 1.5em;
  }
  
  .recipe-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
