@import '../styles/animations.scss';

.recipe-container {
  display: flex;
  flex-direction: column;
  background-color: #B78851;
  margin: 3em;
  border-style: solid;
  border-width: 8px;
  border-color: #C39F75;
  border-radius: 10%;
  justify-content: center;

  .recipe-img {
    border-radius: 10%;
    width: 380px;
    height: 300px;

    &:hover {
      cursor: pointer;
    }
  }

  .recipe-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6em;

    .recipe-name {
      padding: 0.5em;
      margin-right: 1.3em;
    }

    .add-btn {
      padding-right: 0.05em;
      align-self: center;
      font-size: 28px;
      color: #fbe8d4;

      &:hover {
        cursor: pointer;
      }
    }
  
    .favourite-btn-false {
      padding-left: 0.3em;
      font-size: 24px;
      align-self: center;
      color: #fbe8d4;

      &:hover {
        cursor: pointer;
      }
    }

    .favourite-btn-true {
      padding-left: 0.3em;
      font-size: 24px;
      align-self: center;
      color: #FFDB52;

      &:hover {
        cursor: pointer;
      }
    }
  }
}