@import "~normalize.css/normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

@import "styles/reset.scss";
@import "styles/variables.scss";
@import "styles/typeography.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family1;
  background-color: #fbe8d4;
}

.layout {
  display: flex;
  min-height: 100vh;
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  .layout {
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}

